<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <style>
        #root_container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        #download_files{
            position: static;
            left: 10%;
            top: 10%;
            transform: translate(-50%, -50%);
        }

        #books {
            width: 90%;
            border-collapse: collapse;
        }

        table {
            margin: 25px;
        }

        th {
            text-align: left;
        }

        th, td {
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>

<div id="root_container">
    <form method="post" th:action="@{/books/save}" th:object="${book}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="author" th:field="*{author}">
                </td>
                <td>
                    <input type="text" placeholder="book_title" th:field="*{title}">
                </td>
                <td>
                    <input type="text" placeholder="size (pages)" th:field="*{size}" >

                </td>
                <td>
                    <input type="submit" value="save">
                </td>
            </tr>
        </table>
        <p th:if="${#fields.hasErrors()}">Fields are not filled in correctly. They must not be empty, the "size" field must not exceed 4 characters.</p>
    </form>

    <form method="post" th:action="@{/books/remove}" th:object="${bookIdToRemove}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="id number" th:field="*{id}">
                </td>
                <td>
                    <input type="submit" value="remove">
                </td>
                <td th:if="${#fields.hasErrors()}">
                    <p>Wrong id or not found</p>
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/uploadFile}" enctype="multipart/form-data">
        <p>Upload file to server</p>
        <table>
            <tr>
                <td>
                <input type="file" name="file">
                </td>
                <td>
                <input type="submit" value="upload">
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/downloadFile}" enctype="multipart/form-data">
        <p>Download file from server</p>
        <table>
            <tr>
                <td>
                    <select name="fileToDownload">
                        <option value="">Files to download</option>
                        <option th:each="String : ${files}"
                                th:value="${String}"
                                th:text="${String}">
                        </option>
                    </select>
                </td>
                <td>
                    <input type="submit" value="Download">
                </td>
            </tr>
        </table>
    </form>


    <p>You can filter records or remove them by filter:</p>
    <form method="post" th:action="@{/books/filterAndRemove}">
        <table>
            <tr>
                <td>
                    <div>
                        <select name="RSelectAuthor">
                            <option value="">Author</option>
                            <option th:each="String : ${uniqueAuthors}"
                                    th:value="${String}"
                                    th:text="${String}">
                            </option>
                        </select>
                    </div>
                </td>
                <td>
                    <div>
                        <select name="RSelectTitle">
                            <option value="">Title</option>
                            <option th:each="String : ${uniqueTitle}"
                                    th:value="${String}"
                                    th:text="${String}">
                            </option>
                        </select>
                    </div>
                </td>
                <td>
                    <div>
                        <select name="RSelectSize">
                            <option value="">Size</option>
                            <option th:each="Integer : ${uniqueSize}"
                                    th:value="${Integer}"
                                    th:text="${Integer}">
                            </option>
                        </select>
                    </div>
                </td>
                <td>
                    <input type="submit" value="remove" name="button">
                </td>
                <td>
                    <input type="submit" value="filter" name="button">
                </td>
                <td>
                    <input type="submit" value="reset" name="button">
                </td>
            </tr>
        </table>

    </form>

    <table id="books">
        <tr>
            <th>id</th>
            <th>author</th>
            <th>title</th>
            <th>size</th>
        </tr>
        <tr th:each="book : ${bookList}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.size}"></td>
        </tr>
    </table>
</div>

<div id="download_files">
    <h1>List of Files to download: </h1>
    <div th:each="file: ${files}">
        <a th:href="@{'/file/'+${file.getName()}}"><span th:text="${file.getName()}" /></a>
        <span th:text="${file.length()/1024"/>
    </div>
</div>

</body>
</html>