<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <style>
        #root_container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #books {
            width: 50%;
            border-collapse: collapse;
        }

        table {
            margin: 25px;
        }

        th {
            text-align: left;
        }

        th, td {
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
<div id="root_container">
    <form method="post" th:action="@{/books/save}" th:object="${book}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="author" th:field="*{author}">
                </td>
                <td>
                    <input type="text" placeholder="book_title" th:field="*{title}">
                </td>
                <td>
                    <input type="text" placeholder="size (pages)" th:field="*{size}">
                </td>
                <td>
                    <input type="submit" value="save">
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/remove}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="id number" th:name="bookIdToRemove">
                </td>
                <td>
                    <input type="submit" value="remove">
                </td>
            </tr>
        </table>
    </form>

    <p>You can filter records or remove them by filter:</p>
    <form method="post" th:action="@{/books/filterAndRemove}">
        <table>
            <tr>
                <td>
                    <div>
                        <select name="RSelectAuthor">
                            <option value="">Author</option>
                            <option th:each="String : ${unicAuthors}"
                                    th:value="${String}"
                                    th:text="${String}">
                            </option>
                        </select>
                    </div>
                </td>
                <td>
                    <div>
                        <select name="RSelectTitle">
                            <option value="">Title</option>
                            <option th:each="String : ${unicTitle}"
                                    th:value="${String}"
                                    th:text="${String}">
                            </option>
                        </select>
                    </div>
                </td>
                <td>
                    <div>
                        <select name="RSelectSize">
                            <option value="">Size</option>
                            <option th:each="Integer : ${unicSize}"
                                    th:value="${Integer}"
                                    th:text="${Integer}">
                            </option>
                        </select>
                    </div>
                </td>
                <td>
                    <input type="submit" value="remove" name="button">
                </td>
                <td>
                    <input type="submit" value="filter" name="button">
                </td>
                <td>
                    <input type="submit" value="reset" name="button">
                </td>
            </tr>
        </table>

    </form>

    <table id="books">
        <tr>
            <th>id</th>
            <th>author</th>
            <th>title</th>
            <th>size</th>
        </tr>
        <tr th:each="book : ${bookList}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.size}"></td>
        </tr>
    </table>
</div>
</body>
</html>