<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book shelf login</title>
    <meta charset="UTF-8">

    <style>
        #registration_form {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }


    </style>
</head>
<body>
<div id="registration_form">
    <form method="post" th:action="@{/registration/regUser}" th:object="${User}">
        <img class="login_item" th:src="@{/images/registration.jpeg}" width="240" height="140">
        <br>
        <input class="login_item" type="text" placeholder="enter username" th:field="*{username}">
        <br>
        <input class="login_item" type="password" placeholder="password" th:field="*{password}">
        <br>
        <input class="login_item" type="submit" value="registration">
    </form>

</div>


</body>
</html>
